{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2 class="mt-5">Pedidos</h2>
    <a href="{% url 'order-create' %}" class="btn btn-success mt-3 mb-3">Cadastrar novo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Data</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.customer }}</td>
                    <td>{{ order.date }}</td>
                    <td>
                        <a href="{% url 'order-detail' order.id %}" class="btn btn-primary">Detalhes</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}