{% extends "base.html" %}
{% block content %}
<div class="container">
    <h2 class="mt-5">Produtos</h2>
    <a href="{% url 'product-create' %}" class="btn btn-success mt-3 mb-3">Cadastrar novo</a>
    <table class="table">
        <thead>
            <tr>
                <th>Imagem</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Estoque</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td width="300">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" width="50%" />
                        {% else %}
                            <img src="https://via.placeholder.com/300" alt="{{ product.name }}" width="50%" />
                        {% endif %}
                    </td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.stock }}</td>
                    <td>
                        <a href="{% url 'product-detail' product.id %}" class="btn btn-primary">Detalhes</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}